<form class="hero {{cssClass}} flexcol actor-sheet" autocomplete="off">
    <nav class="sheet-edit-tabs sheet-tabs tabs" data-group="mode">
        <a class="item" data-tab="play">Play</a>
        <a class="item" data-tab="edit">Edit</a>
        <label class="upload-button">
            <span>Upload .HDC</span>
            <input type="file" />
        </label>
    </nav>

    <section class="sheet-mode">
        <section class="tab play" data-group="mode" data-tab="play">
            <header class="sheet-header">
                <img class="profile-img borderless" src="{{actor.img}}" title="{{actor.name}}" height="100" width="100" />
                <div class="header-fields">
                    <h1 class="charname">
                        <input type="text" value="{{actor.name}}" placeholder="Name" disabled />
                    </h1>
                </div>
            </header>
        </section>

        <section class="tab edit" data-group="mode" data-tab="edit">
            <header class="sheet-header">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                    </h1>
                </div>
            </header>
        </section>
        
        <section>
            <div class="grid grid-4col">
                <div class="resource flex-group-center">
                    <label for="BODY" class="resource-label">BODY</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="body.value" value="{{data.characteristics.body.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" value="{{data.characteristics.body.max}}" data-dtype="Number" disabled />
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="STUN" class="resource-label">STUN</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="stun.value" value="{{data.characteristics.stun.value}}" data-dtype="Number" />
                        <span> / </span>
                        <input type="text" value="{{data.characteristics.stun.max}}" data-dtype="Number" disabled />
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="END" class="resource-label">END</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="end.value" value="{{data.characteristics.end.value}}" data-dtype="Number" />
                        <span> / </span>
                        <input type="text" value="{{data.characteristics.end.max}}" data-dtype="Number" disabled />
                    </div>
                </div>
                <button type="button" class="recovery-button" style="height:40px;width:90%;align-self:center;">Take Recovery</button>
            </div>
            <div class="characteristic flexrow flex-group-center">
                {{#each characteristicSet.combat as |characteristic key|}}
                <label class="resource-label">{{characteristic.name}}</label>
                <label class="resource-label">{{characteristic.value}}</label>
                {{/each}}
            </div>
        </section>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs sheet-item-tabs tabs" data-group="primary">
            <a class="item" data-tab="characteristics">Characteristics</a>
            <a class="item" data-tab="hitLoc">Hit Locations</a>
            <a class="item" data-tab="movement">Movement</a>
            <a class="item" data-tab="maneuvers">Maneuvers</a>
            <a class="item" data-tab="powers">Powers</a>
            <a class="item" data-tab="attacks">Attacks</a>
            <a class="item" data-tab="defenses">Defenses</a>
            <a class="item" data-tab="skills">Skills</a>
            <a class="item" data-tab="description">Description</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Characteristics Tab --}}
            <div class="tab tab-body powers" data-group="primary" data-tab="characteristics">
                <div class="characteristics characteristic-group grid grid-3col flex2 marginless">
                    {{#each characteristicSet.rollable as |characteristic key|}}
                    <div class="flexrow flex-group-center characteristic">
                        <label class="resource-label">{{characteristic.name}}</label>
                        <input type="text" name="data.characteristics.{{characteristic.key}}.value" value="{{characteristic.value}}" data-dtype="Number" disabled />
                        <button type="button" class="characteristic-roll rollable-characteristic" data-roll="3d6" data-label="{{characteristic.key}}" >{{numberFormat characteristic.roll decimals=0 sign=false}}-</button>
                    </div>
                    {{/each}}
                </div>
                <div class="characteristics characteristic-group grid grid-2col flex1 marginless">
                    {{#each characteristicSet.defense as |characteristic key|}}
                    <div class="characteristic flexrow flex-group-center">
                        <label class="resource-label">{{characteristic.name}}</label>
                        <input type="text" name="data.characteristics.{{characteristic.key}}.value" value="{{characteristic.value}}" data-dtype="Number" disabled />
                    </div>
                    {{/each}}
                </div>
                <div class="characteristics characteristic-group grid grid-2col flex1 marginless">
                    {{#each characteristicSet.other as |characteristic key|}}
                    <div class="characteristic flexrow flex-group-center">
                        <label class="resource-label">{{characteristic.name}}</label>
                        <input type="text" name="data.characteristics.{{characteristic.key}}.value" value="{{characteristic.value}}" data-dtype="Number" disabled />
                    </div>
                    {{/each}}
                </div>
            </div>

            {{!-- Hit Locations Tab --}}
            <div class="tab tab-body powers" data-group="primary" data-tab="hitLoc">
                <div class="grid grid-2col">
                    {{#each data.characteristics.body.loc as |loc key|}}
                    <div class="flexrow">
                        <label>{{key}}:</label>
                        <input type="text" name="data.characteristics.body.loc.{{key}}" value="{{loc}}" data-dtype="Number" />
                    </div>
                    {{/each}}
                </div>
            </div>

            {{!-- Movement Tab --}}
            <div class="tab tab-body powers" data-group="primary" data-tab="movement">
                <div class="grid grid-2col">
                    {{#each characteristicSet.movement as |characteristic key|}}
                    <div class="resource flex-group-center">
                        <div class="resource-label">{{ characteristic.name }}</div>
                        <div class="resource-content flexrow flex-center flex-between">
                            <div>value</div>
                            <span></span>
                            <div>base</div>
                            <span></span>
                        </div>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.characteristics.{{characteristic.key}}.value" value="{{characteristic.value}}" data-dtype="Number" disabled />
                            <div>m</div>
                            <input type="text" name="data.characteristics.{{characteristic.key}}.value" value="{{characteristic.value}}" data-dtype="Number" disabled />
                            <div>m</div>
                        </div>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.characteristics.{{characteristic.key}}.value" value="{{characteristic.velocity.value}}" data-dtype="Number" disabled />
                            <div>m/s</div>
                            <input type="text" name="data.characteristics.{{characteristic.key}}.value" value="{{characteristic.velocity.base}}" data-dtype="Number" disabled />
                            <div>m/s</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            {{!-- Owned Attacks Tab --}}
            <div class="tab tab-body powers" data-group="primary" data-tab="attacks">
                <header class="tab-header flexrow">
                    <span class="item-image"></span>
                    <span class="item-header flex3">Name</span>
                    <span class="item-header flex2">Hit Mod</span>
                    <span class="item-header flex3">Off. vs Def.</span>
                    <span class="item-header flex2">Dmg.</span>
                    <span class="item-header flex3">Res.</span>
                    <span class="item-header">END</span>
                    <span class="item-controls">
                        <a class="item-control item-create" title="Create attack" data-type="attack"><i class="fas fa-plus"></i> Add attack</a>
                    </span>
                </header>
                <section class="attacks-group">
                    <ol class="items-list">
                        {{#each attacks as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-image item-attack"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                            <h4 class="item-name flex3">{{item.name}}</h4>
                            <h4 class="item-value flex2">{{item.toHitMod}}</h4>
                            <h4 class="item-value flex3">{{item.uses}} vs {{item.targets}}</h4>
                            <h4 class="item-name flex2">{{item.damage}}</h4>
                            <h4 class="item-name flex3">{{item.class}}</h4>
                            <h4 class="item-value">{{item.end}}</h4>
                            <div class="item-controls" data-group="mode">
                                <a class="item-control item-edit" title="Edit Item" id="{{id}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item" id="{{id}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                        {{#each powers as |powerItem key|}}
                            {{#each powerItem.data.items.attack as |item id|}}
                                {{#if item.visible}}
                                <li class="item flexrow" data-item-id="{{item._id}}">
                                    <div class="item-image item-attack" id="{{powerItem._id}} {{id}}"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                    <h4 class="item-name flex3">({{powerItem.name}}) {{item.name}}</h4>
                                    <h4 class="item-value flex2">{{item.toHitMod}}</h4>
                                    <h4 class="item-value flex3">{{item.uses}} vs {{item.targets}}</h4>
                                    <h4 class="item-name flex2">{{item.damage}}</h4>
                                    <h4 class="item-name flex3">{{item.class}}</h4>
                                    <h4 class="item-value">{{item.end}}</h4>
                                    <div class="item-controls" data-group="mode">
                                        <a class="item-control item-edit" title="Edit Item" id="{{id}}"></a>
                                        <a class="item-control item-delete" title="Delete Item" id="{{id}}"></a>
                                    </div>
                                </li>
                                {{/if}}
                            {{/each}}
                        {{/each}}
                    </ol>
                </section>
            </div>

            {{!-- Owned Defenses Tab --}}
            <div class="tab tab-body powers" data-group="primary" data-tab="defenses">
                <header class="tab-header flexrow">
                    <span class="item-image"></span>
                    <span class="item-name flex3">Name</span>
                    <span class="item-name flex3">Type</span>
                    <span class="item-value">Value</span>
                    <span class="item-value">Res.</span>
                    <span class="item-value">Hard.</span>
                    <span class="item-value">Imp.</span>
                    <span class="item-value">Active</span>
                    <span class="item-controls">
                        <a class="item-control item-create" title="Create defense" data-type="defense"><i class="fas fa-plus"></i> Add defense</a>
                    </span>
                </header>
                <section class="defenses-group">
                    <ol class="items-list">
                        {{#each defenses as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                            <h4 class="item-name flex3">{{item.name}}</h4>
                            <h4 class="item-name flex3">{{item.defenseType}}</h4>
                            <h4 class="item-value">{{item.value}}</h4>
                            <h4 class="item-value">{{item.resistant}}</h4>
                            <h4 class="item-value">{{item.hardened}}</h4>
                            <h4 class="item-value">{{item.impenetrable}}</h4>
                            <h4 class="item-toggle"><input type="checkbox" name="data.active" {{checked data.active}} data-dtype="Boolean" /></h4>
                            <div class="item-controls" data-group="mode">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                        {{#each powers as |powerItem key|}}
                            {{#each powerItem.data.items.defense as |item id|}}
                                {{#if item.visible}}
                                <li class="item flexrow" data-item-id="{{item._id}}">
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                    <h4 class="item-name flex3">({{powerItem.name}}) {{item.name}}</h4>
                                    <h4 class="item-name flex3">{{item.defenseType}}</h4>
                                    <h4 class="item-value">{{item.value}}</h4>
                                    <h4 class="item-value">{{item.resistant}}</h4>
                                    <h4 class="item-value">{{item.hardened}}</h4>
                                    <h4 class="item-value">{{item.impenetrable}}</h4>
                                    <h4 class="item-toggle"><input type="checkbox" name="data.active" {{checked data.active}} data-dtype="Boolean" /></h4>
                                    <div class="item-controls" data-group="mode">
                                        <a class="item-control item-edit" title="Edit Item"></a>
                                        <a class="item-control item-delete" title="Delete Item"></a>
                                    </div>
                                </li>
                                {{/if}}
                            {{/each}}
                        {{/each}}
                    </ol>
                </section>
            </div>

            {{!-- Owned Powers Tab --}}
            <div class="tab tab-body powers" data-group="primary" data-tab="powers">
                <section class="powers-group">
                    <div class="power-card-container">
                        <ul class="power-card-power-item-list list">
                            {{#each powers as |powerItem key|}}
                            <li class="list-item flexrow">
                                <div class="item-image"><img src="{{powerItem.img}}" width="24" height="24" /></div>
                                <span>{{powerItem.name}}</span>
                                <span>{{powerItem.data.rules}}</span>
                                <div class="item-controls">
                                    <a class="item-control power-item-edit" key="{{powerItem._id}}" id="{{key}}" type="power" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control power-item-delete" key="{{powerItem._id}}" id="{{key}}" type="power" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            <ul class="power-card-power-item-list list">
                                {{#each powerItem.data.items.skill as |item id|}}
                                    {{#if item.visible}}
                                    <li class="list-item"><span>{{item.name}}</span></li>
                                    {{/if}}
                                {{/each}}
                                {{#each powerItem.data.items.maneuver as |item id|}}
                                    {{#if item.visible}}
                                    <li class="list-item"><span>{{item.name}}</span></li>
                                    {{/if}}
                                {{/each}}
                                {{#each powerItem.data.items.attack as |item id|}}
                                    {{#if item.visible}}
                                    <li class="list-item"><span>{{item.name}}</span></li>
                                    {{/if}}
                                {{/each}}
                                {{#each powerItem.data.items.defense as |item id|}}
                                    {{#if item.visible}}
                                    <li class="list-item"><span>{{item.name}}</span></li>
                                    {{/if}}
                                {{/each}}
                            </ul>
                            {{/each}}
                        </ul>
                    </div>
                </section>
            </div>

            {{!-- Owned Skills Tab --}}
            <div class="tab tab-body skills" data-group="primary" data-tab="skills">
                    <header class="tab-header flexrow">
                        <span class="item-image"></span>
                        <span class="item-name">Name</span>
                        <span class="item-characterstic">Characteristic</span>
                        <span class="item-roll">Roll</span>
                        <span class="item-controls">
                            <a class="item-control item-create" title="Create skill" data-type="skill"><i class="fas fa-plus"></i> Add skill</a>
                        </span>
                    </header>
                    <section class="skills-group">
                        <ol class="items-list">
                            {{#each skills as |item id|}}
                            <li class="item" data-item-id="{{item._id}}" {{#if item.children}} style="height:auto;" {{/if}}>
                                <div class="flexrow">
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                    <h4 class="item-name">{{item.name}}</h4>
                                    <h4 class="item-name">{{item.characteristic}}</h4>
                                    <div>
                                        <button type="button" class="item-roll rollable-skill" data-roll="{{item.roll}}" data-label="{{item._id}}">{{numberFormat item.roll decimals=0 sign=false}}-</button>
                                    </div>
                                    <div class="item-controls" data-group="mode">
                                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                            {{#each powers as |powerItem key|}}
                                {{#each powerItem.data.items.skill as |item id|}}
                                    {{#if item.visible}}
                                    <li class="item" data-item-id="{{item._id}}" {{#if item.children}} style="height:auto;" {{/if}}>
                                        <div class="flexrow">
                                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                            <h4 class="item-name">{{item.name}}</h4>
                                            <h4 class="item-name">{{item.characteristic}}</h4>
                                            <div>
                                                <button type="button" class="item-roll rollable-skill" data-roll="{{item.roll}}" data-label="{{item._id}}">{{numberFormat item.roll decimals=0 sign=false}}-</button>
                                            </div>
                                            <div class="item-controls" data-group="mode">
                                                <a class="item-control item-edit" title="Edit Item"></a>
                                                <a class="item-control item-delete" title="Delete Item"></a>
                                            </div>
                                        </div>
                                    </li>
                                    {{/if}}
                                {{/each}}
                            {{/each}}
                        </ol>
                    </section>
            </div>

            {{!-- Maneuvers Tab --}}
            <div class="tab tab-body attacks" data-group="primary" data-tab="maneuvers">
                <section>
                    <header class="tab-header flexrow">
                        <span class="item-value">Active</span>
                        <span class="item-name flex2">Name</span>
                        <span class="item-name flex2">Phase</span>
                        <span class="item-name flex1">OCV</span>
                        <span class="item-value flex1">DCV</span>
                        <span class="item-name flex1">Effects</span>
                        <span></span>
                        <span class="item-controls">
                            <a class="item-control item-create" title="Create maneuver" data-type="maneuver"><i class="fas fa-plus"></i> Add maneuver</a>
                        </span>
                    </header>
                    <section class="maneuver-group">
                        <ol class="items-list">
                            {{#each maneuvers as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <h4 class="item-toggle"><input type="checkbox" name="data.active" {{checked data.active}} data-dtype="Boolean" /></h4>
                                <h4 class="item-name flex3">{{item.name}}</h4>
                                <h4 class="item-value flex1">{{item.data.phase}}</h4>
                                <h4 class="item-value flex1">{{item.data.ocv}}</h4>
                                <h4 class="item-value flex1">{{item.data.dcv}}</h4>
                                <div class="item-controls" data-group="mode">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                        {{#each powers as |powerItem key|}}
                            {{#each powerItem.data.items.maneuver as |item id|}}
                                {{#if item.visible}}
                                <li class="item flexrow" data-item-id="{{item._id}}">
                                    <h4 class="item-toggle"><input type="checkbox" name="data.active" {{checked data.active}} data-dtype="Boolean" /></h4>
                                    <h4 class="item-name flex3">({{powerItem.name}}) {{item.name}}</h4>
                                    <h4 class="item-value flex1">{{item.data.phase}}</h4>
                                    <h4 class="item-value flex1">{{item.data.ocv}}</h4>
                                    <h4 class="item-value flex1">{{item.data.dcv}}</h4>
                                    <div class="item-controls" data-group="mode">
                                        <a class="item-control item-edit" title="Edit Item"></a>
                                        <a class="item-control item-delete" title="Delete Item"></a>
                                    </div>
                                </li>
                                {{/if}}
                            {{/each}}
                        {{/each}}
                    </section>
                </section>
            </div>

            {{!-- Biography Tab --}}
            <div class="tab biography" data-group="primary" data-tab="description">
                {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
            </div>
        </section>
    </section>
</form>
