<div class="hero chat-card item-card toHit-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}} vs {{state.targetCharacter}}</h3>
    </header>

    {{#if state.useEnd}}
    <div class="card-section">
        <div class="summary">{{{ state.enduranceText }}}</div>
    </div>
    {{/if}}

    <div class="card-section">
        <div class="summary">To Hit</div>
        <div class="hit-roll">{{{ state.renderedHitRoll }}}</div>
        <div class="description">{{{ state.hitRollText }}}</div>
    </div>

    <div class="card-section">
        {{#if state.useHitLoc}}
        <div class="summary">{{ state.hitLocText }}</div>
        {{/if}}
    </div>

    <div class="card-section">
        <div class="damage-roll">{{{ state.renderedDamageRoll }}}</div>
        {{#if state.hasStunMultiplierRoll}}
        <div class="stun-x-roll">{{{ state.renderedStunMultiplierRoll }}}</div>
        <div class="summary">{{ state.stunMultiplier }}X STUN MULTIPLIER</div>
        {{/if}}
        <div class="summary">(Raw Damage) {{ state.bodyDamage }} BODY; {{ state.stunDamage }} STUN</div>
    </div>

    <div class="card-section">
        <div class="summary">Defense: {{ state.defenseValue }} {{ state.defense }}</summary>
    </div>

    <div class="card-section">
        <div class="description">{{ state.bodyDamageEffective }} BODY; {{ state.stunDamageEffective }} STUN{{ state.effects }}</div>
    </div>
</div>
