<div class="hero chat-card item-card toHit-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}} vs {{state.targetCharacter}}</h3>
    </header>

    <div class="hit-roll">
        <div class="card-section">
            <div class="description-medium">{{{ state.hitRollText }}}</div>
        </div>

        {{#if state.hitSuccess}}
            <div class="card-section">
                <div class="description-tiny">On Hit</div>
                {{#if state.useHitLoc}}
                    <div class="description-tiny">{{ state.hitLocText }}</div>
                {{/if}}
                <div class="damage-roll">{{{ state.renderedDamageRoll }}}</div>
                {{#if state.hasStunMultiplierRoll}}
                <div class="description-tiny">Stun Multiplier</div>
                    <div class="stun-x-roll">{{{ state.renderedStunMultiplierRoll }}}</div>
                    <div class="description-tiny">{{ state.stunMultiplier }}X STUN MULTIPLIER</div>
                {{/if}}
                <div class="description-tiny">(Raw Damage) {{ state.bodyDamage }} BODY; {{ state.stunDamage }} STUN</div>
            </div>

            <div class="card-section">
                <div class="description-tiny">Defense: {{ state.defense }}</div>
            </div>

            <div class="card-section">
                <div class="description-tiny">Effect</div>
                <div class="description-medium">{{ state.bodyDamageEffective }} BODY; {{ state.stunDamageEffective }} STUN</div>
                <div class="description-tiny">{{ state.effects }}</div>
                {{#if state.useKnockBack}}
                    <div class="hit-roll">{{{ state.knockbackRenderedResult }}}</div>
                    <div class="description-tiny">{{ state.knockback }}</div>
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>
