<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="flexrow flex-center">
              <div class="resource flexrow flex-center">
                  <label class="resource-label">Levels</label>
                  <input type="text" name="data.levels" value="{{data.levels}}" data-dtype="Number"/>
              </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
<section class="sheet-body">
    <div class="form-group">
        <label>Characteristic</label>
        <select name="data.characteristic" data-dtype="text">
            {{selectOptions config.skillCharacteristics selected=data.characteristic blank="&nbsp;"}}
        </select>
    </div>

    <div class="form-group">
        <label>Training</label>
        <select name="data.state" data-dtype="text">
            {{selectOptions config.skillTraining selected=data.state blank="&nbsp;"}}
        </select>
    </div>

    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
</section>
</form>
