<form class="hero {{cssClass}} flexcol actor-sheet" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" name="img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Power Name" />
            </h1>
        </div>
    </header>

    <section class="sheet-body">
        <textarea
            placeholder="Power Description"
            class="power-card-power-description textarea input"
        >{{item.data.rules}}</textarea>

        <header class="iteam-header flexrow">
            <span class="item-controls">
                <a class="item-control item-create" title="Create skill" data-type="skill"><i class="fas fa-plus"></i> Skill</a>
            </span>
            <span class="item-controls">
                <a class="item-control item-create" title="Create maneuver" data-type="maneuver"><i class="fas fa-plus"></i> Maneuver</a>
            </span>
            <span class="item-controls">
                <a class="item-control item-create" title="Create attack" data-type="attack"><i class="fas fa-plus"></i> Attack</a>
            </span>
            <span class="item-controls">
                <a class="item-control item-create" title="Create defense" data-type="defense"><i class="fas fa-plus"></i> Defense</a>
            </span>
            <span class="item-controls">
                <a class="item-control item-create" title="Create movement" data-type="movement"><i class="fas fa-plus"></i> Movement</a>
            </span>
        </header>

        <section class="skills-group">
            <ol class="items-list">
                {{#each data.items.skill as |item id|}}
                    {{#if item.visible}}
                    <li class="item" data-item-id="{{item._id}}" {{#if item.children}} style="height:auto;" {{/if}}>
                        <div class="flexrow">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                            <h4 class="item-name">{{item.name}}</h4>
                            <h4 class="item-name">{{item.characteristic}}</h4>
                            <div>
                                <button class="item-roll rollable-skill" data-roll="{{item.roll}}" data-label="{{item._id}}">{{numberFormat item.roll decimals=0 sign=false}}-</button>
                            </div>
                            <div class="item-controls">
                                <a class="item-control item-edit" id="{{id}}" type="skill" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" id="{{id}}" type="skill" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </li>
                    {{/if}}
                {{/each}}
            </ol>
        </section>

        <section class="maneuver-group">
            <ol class="items-list">
                {{#each data.items.maneuver as |item id|}}
                    {{#if item.visible}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                        <h4 class="item-name flex2">{{item.name}}</h4>
                        <h4 class="item-value flex1">{{item.phase}}</h4>
                        <h4 class="item-value flex1">{{item.ocv}}</h4>
                        <h4 class="item-value flex1">{{item.dcv}}</h4>
                        <h4 class="item-toggle"><input type="checkbox" name="data.active" {{checked data.active}} data-dtype="Boolean" /></h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" id="{{id}}" type="maneuver" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" id="{{id}}" type="maneuver" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                {{/each}}
            </ol>
        </section>

        <section class="attacks-group">
            <ol class="items-list">
                {{#each data.items.attack as |item id|}}
                    {{#if item.visible}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image item-attack"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                        <h4 class="item-name flex3">{{item.name}}</h4>
                        <h4 class="item-value flex2">{{item.toHitMod}}</h4>
                        <h4 class="item-value flex3">{{item.uses}} vs {{item.targets}}</h4>
                        <h4 class="item-name flex2">{{item.damage}}</h4>
                        <h4 class="item-name flex3">{{item.class}}</h4>
                        <h4 class="item-value">{{item.end}}</h4>
                        <h4 class="item-value">{{item.piercing}}</h4>
                        <h4 class="item-value">{{item.penetrating}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" id="{{id}}" type="attack" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" id="{{id}}" type="attack" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                {{/each}}
            </ol>
        </section>

        <section class="defenses-group">
            <ol class="items-list">
                {{#each data.items.defense as |item id|}}
                    {{#if item.visible}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                        <h4 class="item-name flex3">{{item.name}}</h4>
                        <h4 class="item-name flex3">{{item.defenseType}}</h4>
                        <h4 class="item-value">{{item.value}}</h4>
                        <h4 class="item-value">{{item.resistant}}</h4>
                        <h4 class="item-value">{{item.hardened}}</h4>
                        <h4 class="item-value">{{item.impenetrable}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" id="{{id}}" type="defense" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" id="{{id}}" type="defense" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                {{/each}}
            </ol>
        </section>

        <section class="movement-group">
            <ol class="items-list">
                {{#each data.items.movement as |item id|}}
                    {{#if item.visible}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                        <h4 class="item-name flex3">{{item.name}}</h4>
                        <h4 class="item-name flex3">{{item.class}}</h4>
                        <h4 class="item-name flex3">{{item.base}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" id="{{id}}" type="movement" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" id="{{id}}" type="movement" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                {{/each}}
            </ol>
        </section>
    </section>
</form>
